<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am currently a software development engineer within the Fire TV organization at Amazon. I have helped develop the new, more intuitive Fire TV UI which has been 
          deployed to over 50 million global users. I have developed performance optimizations that provide our customers with a more fluid experience. More recently, 
          I have contributed to the design and implementation of our new server driven architecture that is aimed at eliminating deployment bottlenecks. 
          <br>
          Additionally, I have developed multiple projects outside of work. Some of my most recent projects include MuseumFever and a Sorting Algorithm Visualizer (SAV), 
          which are highlighted below. I am very enthusiastic about learning new technologies and I believe that my passion for all things tech allows me to solve novel engineering challenges 
          quickly and effectively.
          
        </p>
        
        <div class= "row">
          <div class="col-md-4">
            <h4 style="margin-top:05px;">Programming Languages</h4>
            <ul>
              <li>
                Java
              </li>
              <li>
                Kotlin
              </li>
              <li>
                JavaScript
              </li>
              <li>
               HTML
              </li>
              <li>
                CSS
              </li>
              <li>
                C
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 style="margin-top:5px;">Technologies</h4>
            <ul>
              <li>
                Android
              </li>
              <li>
                React
              </li>
              <li>
               Node.JS
              </li>
              <li>
                Mongoose
              </li>
              <li>
                Bootstrap
              </li>
              <li>
               jQuery
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 style="margin-top:5px;">Databases</h4>
            <ul>
             <li>
               MongoDB
             </li>
             <li>
               MySQL
             </li>
             <li>
               PostgreSQL
             </li>
            </ul>

          </div>


        </div>
       
      </div>
	    <div class="col-sm-6">
        <h4 style="margin-top:0;">Highlights</h4>
        <ul>
          <li>
            Experienced in working independently and collaboratively to meet strict product deadlines
          </li>
    			<li>
            Fluent in both Spanish and English
    			</li>
    			<li>
            Eager and willing to learn new programming languages and technologies
          </li>
          <li>
            Society of Hispanic Professional Engineers (SHPE) Rowan Chapter Founder
    			</li>
          <li>
            Tau Beta Pi: National Engineering Honor Society Member
          </li>
		    </ul>
		    <h4 style="margin-top:5px;">Education</h4>
		    <ul>
    			<li>
            Graduated Summa Cum Laude from Rowan University in May 2019
    			</li>
          <li>
            Bachelor of Science in Electrical and Computer Engineering
          <li>
            Thomas N. Bantivoglio Honors Concentration
		    </ul>
	    </div>
    </div>
  </div>
</section>
