<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am currently a digital design engineer with one year of work experience, looking to transition into software engineering. During my undergrad, I was able to gain a lot of experience with embedding software through projects such as a Bluetooth Arcade Controller, a CubeSat, and a regulating buck converter. After college, I have become very passionate about web development as well, and enjoy taking interactive coding courses and building web applications in my free time. Some of my most recent projects include MuseumFever and a Sorting Algorithm Visualizer (SAV).  I have the drive, knowledge, and passion to deliver engineering products with the utmost technical rigor and am excited to apply these qualities to a career in software engineering.     
        </p>
        
        <div class= "row">
          <div class="col-md-4">
            <h4 style="margin-top:05px;">Programming Languages</h4>
            <ul>
              <li>
                JavaScript
              </li>
              <li>
               HTML
              </li>
              <li>
                CSS
              </li>
              <li>
               Java
              </li>
              <li>
                C
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 style="margin-top:5px;">Web Frameworks</h4>
            <ul>
              <li>
                React
              </li>
              <li>
               Node.JS
              </li>
              <li>
                Mongoose
              </li>
              <li>
                Bootstrap
              </li>
              <li>
               jQuery
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 style="margin-top:5px;">Databases</h4>
            <ul>
             <li>
               MongoDB
             </li>
            </ul>

          </div>


        </div>
       
      </div>
	    <div class="col-sm-6">
        <h4 style="margin-top:0;">Highlights</h4>
        <ul>
          <li>
            Experienced in working independently and collaboratively to meet strict product deadlines
          </li>
    			<li>
            Fluent in both Spanish and English
    			</li>
    			<li>
            Eager and willing to learn new programming languages and technologies
          </li>
          <li>
            Society of Hispanic Professional Engineers (SHPE) Rowan Chapter Founder
    			</li>
          <li>
            Tau Beta Pi: National Engineering Honors Society Member
          </li>
		    </ul>
		    <h4 style="margin-top:5px;">Education</h4>
		    <ul>
    			<li>
            Graduated Summa Cum Laude from Rowan University in May 2019
    			</li>
          <li>
            Bachelor of Science in Electrical and Computer Engineering
          <li>
            Thomas N. Bantivoglio Honors Concentration
		    </ul>
	    </div>
    </div>
  </div>
</section>
