<section class="tout" id="interests">
    <div class="container">
		
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-4">
					<h3 style="margin-top:0">MuseumFever</h3>
					<ul>
						<li>Responsive web application that allows users to browse and contribute to a large collection of museums around the world
						</li>
						<li>Website : <a href="https://museumfever.herokuapp.com/" target="_blank">MuseumFever</a></li>
						<li>Github: <a href="https://github.com/tomasu10/MuseumFever" target="_blank">MuseumFever Repo</a></li>

					</ul>
				</div>
				<div class="col-sm-4">
					<h3 style="margin-top:0">SAV</h3>
					<ul>
						<li>
							Educational tool which allows users to visualize four sorting algorithms and understand the importance of time complexity
						</li>
						<li>Website : <a href="https://tomasu10.github.io/SortingVisualizer/" target="_blank">SAV</a>
						</li>
						<li>Github: <a href="https://github.com/tomasu10/SortingVisualizer" target="_blank">SAV Repo</a></li>
					</ul>
				</div>
			</div>
		</div>
</section>	
